@media (min-width: 1600px){
    .head{
        padding-top: 3%;
    }

    #formula-image{
        width: 20%;
    }
}

@media (min-width: 1200px) {
    #formula-image{
        width: 20%;
    }
    .image{
        width: 50%;
        margin-left: 25%;
    }
}

@media (max-width: 1156px){
    .none-br{
        display: block;
    }
}

@media (min-width: 761px) and (max-width: 1199px) {
    .header{
        font-size: 1.2em;
    }
    #formula-image{
        width: 30%;
    }
    .image{
        width: 70%;
        margin-left: 15%;
    }
}

@media (max-width: 760px){
    .header{
        font-size: 1.4em;
    }
    .cont{
        font-size: 1em;
    }
}


