
body{
    margin: 0%;
}

.header{
    background-color: #0C2F47;
    color: white;
    font-size: 1.2em;
    vertical-align: middle;
}

.fixed{
    position: fixed;
    z-index: 2;
}

#mainInfo:hover, #techDoc:hover, #download:hover, #ask:hover{
    color:#86c8d6;
}

#mainInfo, #techDoc, #download, #ask{
    cursor: pointer;
}

.col{
    border: 2px solid rgb(117, 193, 236);
    padding-top: 2%;
    padding-bottom: 2%;
}

#formula-image{
    width: 50%;
}

.image-button{
    margin-left: 5%;
    max-width: 90%;
  
    min-width: auto;
    min-height: auto;
    
    height: 80%;
    display: block;
    margin: 0 auto;
    /* margin-top: 10%; */
}

.image{
    width: 90%;
    margin-left: 5%;
}

.cont{
    margin-top : 3%;
    width: 90%;
    margin-left: 5%;
    font-size: 1.5em;
}



.none{
    display: none;
}

.none-br{
    display: none;
}

.header-text{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.text{
    font-size: 1.5em;
    text-indent: 5%;
}

.container-tech-doc{
    font-size: 1.5em;
}

